/*  general site styles */

/*  imported font */
@font-face {
    font-family:'skywerdregular';
    src: url('font/cloudward-webfont.woff2') format('woff2'),
         url('font/cloudward-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sticky{
    height: 20rem;
    width: 9rem;
    /* left-align the text */
    display: flex;
    align-items: left;
    justify-content: left;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 1rem;
    
    
}
.INSI-motivation-pic{
    width:90%;
    height:90%;
}
.user-test-imgs{
    border-radius: 30px;
}

/* Testimonials Section */
.carousel-item{
    padding:6% 15%;
    width: 70%;
    text-align: center;
    background-color: #e7f5f5b2;
    border-radius: 30px;
}
.testimonial-image{
    width: 20%;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
}

#press{
    background-color: #fff;
    text-align: center;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px; /* 20px top, 20px left and right, 50px bottom */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#project-title{
    padding: 2% 10%;
    text-align: left;
}

#project-quick-details{
    padding: 4% 10%;
    text-align: justify;
}

#project-details{
    padding: 4% 15%;
    text-align: justify;
}
#about{
    padding: 2% 15% 4% 15%;
    text-align: justify;
    
}
.about-me-pic{
    width: 100%;
    height: 100%;
    text-align: right;
    
}
.about-me-pics{
    width: 100%;
    height: 100%;
    padding: 0% 0% 20% 0%;
}

.right{
    text-align: right;
}
.left{
    text-align: left;
}
.centered{
    text-align: center;
}
.justify{
    text-align: justify;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap'); 

#grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 90px;
    row-gap: 15px;
    text-align: left;
    padding: 0 0% 0% 0%;
}

#grid2{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20%;
    text-align: justify;
    padding: 8% 3% 3% 3%;
}



.insi-title-image{
    width: 100%;
    height: 90%;
    z-index:-5;
    position: relative;
}
.test:hover{
    text-decoration: none;  
}

#title{
    padding: 0% 10%;
    text-align: center;
    position: relative; top: -60px;
}


#navigation{
    background-color: #fff;
    padding: 2% 10%;
}


.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Poppins';
    
    font-size: 50px; /* 3rem = 3 times the root em size */
    line-height:1.5;
    color:#000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;
}
.header-one-half{
    font-weight: 400;
    font-size: 35px;
    line-height:1.5;
    color:#000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;

}

h2{
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;
}
.header-two-light{
    font-weight: 300;
    font-size: 45px;
    line-height:1.5;
    color:#000;
    letter-spacing: 0.025em;
    padding: 0  0 10px 0;

}

h3{
    font-family: 'Poppins';
    font-weight: 400;
    padding: 0  0 15px 0;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 0);
}

h4{
    font-family: 'Poppins';
    padding: 20px  0 10px 0;
    font-size: 24px;
    /*letter-spacing: 0.05em;*/
    letter-spacing: 0.025em;
    color: #0000006b;
}
h5{
    font-family: 'Poppins';
    position: relative; top: -20px;
    font-size: 24px;
    /*letter-spacing: 0.05em;*/
    letter-spacing: 0.025em;
    color: #0000006b;
}

p{
    /*font-family: 'Swis721 BT';*/
    font-family: 'Poppins';
    font-size: 18px;
    color: #29282a;
    letter-spacing: 0.0125em;
}

/* Navigation Bar */

.navbar-toggle {
    float: left !important;
    margin-left: 15px;
}
  
.navbar-header.navbar-right.pull-right {
    margin-right: 15px;
}
  
.navbar-right > li {
    float: left;
}
  
.nav-link{
    padding:10px 20px 10px 20px;
    color:#000;
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 0.05em;
}
.nav-bar-link{
    padding:10px 10px 10px 5px;
    color:#000;
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 0.05em;
}

.nav-bar-link:hover{
    padding:10px 5px 10px 5px;
    background-color: #8cc6dd;
    border-radius: 10px;
    color:#000;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 22px;
    letter-spacing: 0.05em;
}
.navbar-brand img{
    transform: rotate(1deg);
    height: 80px;
    width: 135px;
    padding-top: -100px;
}





/* Floating contact/social Icons */
.icons{
    top: 25%;
    right: 0px;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.icons ul{
    padding:initial;
}



.card-img-top {
    object-fit: contain;
    

}


.icons ul li{
    height:40px;
    width: 40px;
    list-style-type: none;
    padding-top:6px;
    margin-top: 5px;
    border-radius: 2.5px;
    color:#fff;
    background: #000;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.icons ul li:hover{
    color:#8cc6dd;
}

/* Title Section */

/*  Rollover image styles  */
.figure {
    position: relative;
    /*width: 360px;  can be omitted for a regular non-lazy image */
    max-width: 60%;
   
  }
  .figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}
.figure:hover img.image-hover {
    opacity: 1;
}

.image-hover{
    background-color: white;
}


/* Lottie Section */
#lottie{
    /* padding: 100px; to take up more of screen*/
        padding: 5% 15% 0% 15%;
        text-align: left;

    }

/* Projects Section */
#projects{
/* padding: 100px; to take up more of screen*/
    padding: 4% 15%;
    text-align: left;
    background-color: #fff;
    position: relative; top: -60px;
}

.projects-header{
   color: #000;
}

.projects-column{
   padding: 3% 2%;
}

.card{
    padding: 1em 2em 0.5em;
    border-radius: 15px;
    font-family: 'Swis721 BT';
         /* for reg black- rgba(0,0,0,.2) */
    background-color:#fff;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px #8cc6dd;
}



/*extras
 .card-header{
    background-color:#fff;
 }
.card-body{
    background-color: #fff;
}
.card-img-top{
    background-color: #fff;
}

*/

/* Footer Section*/
#footer{
    padding: 0% 15% 0% 15%;
    text-align: center;
    background-color: #fff;
    font-family: 'Helvetica Neue';
}

.logo-footer{
    width: 20px;
    padding: 0 0 5px 0;
}

/*
.emph{
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color:#000;
    font-size: 18px;
}
.emph:hover{
    font-size: 30px;
}
*/

.social-icons{
    margin: 20px 5px;
}

.p-footer1{
    font-family: 'Poppins';
    color:#000;
    font-size: 18px;
}
.p-footer2{
    color:#000;
    font-family: 'Poppins';
    font-size: 18px;
}
.p-footer3{
    font-family: 'Poppins';
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding:20px 0px 10px;
}
.p-footer4{
    font-family: 'Poppins';
    color:rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: left;
    padding:20px 0px 15px;
}

.p-footer1:hover{
    color:#000;
    text-decoration: none;
}
.p-footer2:hover{
    color:#8cc6dd;
    text-decoration: none;
}


 /*Media Query Section -convention is to have all the media queries at the bottom of the page */

 @media (max-width: 767px){  /* these conditions  are true only if screen size is <= 767px */
    #title{
        text-align: center;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 15px;
    }
    .nav-bar-link{
        font-size: 15px;
    }
    .p-footer1{
        font-size: 15px;
    }
    .p-footer2{
        font-size: 15px;
    }
    .p-footer3{
        font-size: 14px;
    }
    .p-footer4{
        font-size: 14px;
    }
}

@media (min-width: 766px){  /* if greater than 766..*/
    h2{
        font-size: 34px;
    }
    p{
        font-size: 18px;
    }
    .nav-bar-link{
        font-size: 18px;
    }
    .p-footer1{
        font-size: 18px;
    }
    .p-footer2{
        font-size: 18px;
    }
    .p-footer3{
        font-size: 16px;
    }
    .p-footer4{
        font-size: 16px;
    }
}

/* logo size is bigger when the size is larger than 767px */
@media(min-width:767px){ 
    .navbar-brand img{
        width:270px;
        height: 120px;
        margin-right: 0;
    }
}

@media (max-width:766px){ 
    .navbar-brand img{
        width:135px;
        height: 60px;
        margin-right: 0;
    }
}


@media (max-width: 1038px){  /* Media Queries allow for webpage to have different looks based on certain conditions */
    #title{
        position: relative; top: 0px;
    }
}

@media (min-width: 767px){  /* if greater than 1038px...*/
    #title{
        position: relative; top: -50px;
    }
}

/*
@media(hover){
    .figure {
        position: relative;
        /*width: 360px;  can be omitted for a regular non-lazy image 
        max-width: 60%;
       
      }
      .figure img.image-hover {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: contain;
        opacity: 0;
        transition: opacity .2s;
    }
    .figure:hover img.image-hover {
        opacity: 1;
    }
    
    .image-hover{
        background-color: white;
    }

}
*/
